<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goalsns.model.MemberMapper">
	<select id="Login" parameterType="goalsns.entity.MemberVO" resultType="goalsns.entity.MemberVO">
	select * from t_member
	where mem_id=#{mem_id}
	and mem_pw=#{mem_pw}
	</select>
	<select id="selectAll" resultType="goalsns.entity.MemberVO">
	select * from t_member
	</select>
	<insert id="register"  parameterType ="goalsns.entity.MemberVO">
	insert into t_member(
	mem_id,
	mem_pw,
	mem_email,
	mem_name) values (#{mem_id}, #{mem_pw}, #{mem_email}, #{mem_name})
	</insert>
	<delete id = "memberDelete" parameterType="goalsns.entity.MemberVO">
		delete from t_member 
		where mem_id=#{mem_id} and mem_pw=#{mem_pw}
	</delete>
</mapper>