<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goalsns.model.MemberMapper">
	<!-- 로그인 -->
	<select id="Login" parameterType="goalsns.entity.MemberVO" resultType="goalsns.entity.MemberVO">
	select * from t_member
	where mem_id=#{mem_id}
	and mem_pw=#{mem_pw}
	</select>
	<select id="selectAll" resultType="goalsns.entity.MemberVO">
	select * from t_member
	</select>
	
	<!-- 회원가입 -->
	<insert id="register"  parameterType ="goalsns.entity.MemberVO">
	insert into t_member(
	mem_id,
	mem_pw,
	mem_email,
	mem_name) values (#{mem_id}, #{mem_pw}, #{mem_email}, #{mem_name})
	</insert>
	
	<!-- 아이디 중복체크 -->
	<select id="idCheck" resultType="int">
		select count(*) from t_member
		where mem_id = #{mem_id}
	</select>
	
	<!-- 회원탈퇴 -->
	<delete id = "memberDelete" parameterType="goalsns.entity.MemberVO">
		delete from t_member 
		where mem_pw=#{mem_pw}
	</delete>
	<!-- 프로필 수정 -->
	<update id="profileEdit" parameterType="goalsns.entity.MemberVO">
	update t_member
	set mem_name=#{mem_name},
		mem_about=#{mem_about},
		mem_email=#{mem_email}
	where mem_id=#{mem_id}
	</update>
	
	<!-- 특정 유저의 정보 가져오기 -->
	<select id="getMemberInfo" resultType="goalsns.entity.MemberVO">
		select * from t_member where mem_id=#{mem_id}
	</select>
	<!-- 팔로우리스트 가져오기 -->
	<select id="followAll" resultType="goalsns.entity.FollowVO">
		select * from t_follow
		where from_mem=#{from_mem}
	</select>
	<!-- 특정된 팔로우한사람 가져오기 -->
	<select id="getFollowInfo" resultType="goalsns.entity.FollowVO">
		select * from t_follow where to_mem=#{to_mem} and from_mem=#{from_mem}
	</select>
	<!-- 팔로우 -->
	<insert id="follow" parameterType ="goalsns.entity.FollowVO">
		insert into t_follow(
		follow_seq,
		to_mem,
		from_mem
		) values(t_follow_seq.NEXTVAL, #{to_mem}, #{from_mem})
	</insert>
	<!-- 언팔로우 -->
	<delete id="unFollow" parameterType="goalsns.entity.FollowVO">
		delete from t_follow
		where to_mem=#{to_mem}
		and from_mem=#{from_mem}
	</delete>

	<select id="getByMemId" parameterType="String" resultType="goalsns.entity.MemberVO">
		select * from t_member where mem_id=#{mem_id}
	</select>
	
	<!-- 유저 랭킹 -->
	<select id="getMemRank" resultType="java.lang.String">
		select mem_id 
		from (select mem_id, count(post_seq) from t_post where chell_seq is not null
		and post_date BETWEEN TO_DATE('2022-03-01', 'YYYY-MM-DD') AND TO_DATE('2022-03-31', 'YYYY-MM-DD') 
		group by mem_id order by count(post_seq))
		<![CDATA[where rownum<=5]]>
	</select>
	
</mapper>