<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goalsns.model.MemberMapper">
	<select id="Login" parameterType="goalsns.entity.MemberVO" resultType="goalsns.entity.MemberVO">
	select * from t_member
	where mem_id=#{mem_id}
	and mem_pw=#{mem_pw}
	</select>
	<select id="selectAll" resultType="goalsns.entity.MemberVO">
	select * from t_member
	</select>
	
	<!-- 회원가입 -->
	<insert id="register"  parameterType ="goalsns.entity.MemberVO">
	insert into t_member(
	mem_id,
	mem_pw,
	mem_email,
	mem_name) values (#{mem_id}, #{mem_pw}, #{mem_email}, #{mem_name})
	</insert>
	
	<!-- 아이디 중복체크 -->
	<select id="idCheck" resultType="int">
		select count(*) from t_member
		where mem_id = #{mem_id}
	</select>
	
	<!-- 회원탈퇴 -->
	<delete id = "memberDelete" parameterType="goalsns.entity.MemberVO">
		delete from t_member 
		where mem_pw=#{mem_pw}
	</delete>
	
	<update id="profileEdit" parameterType="goalsns.entity.MemberVO">
	update t_member
	set mem_name=#{mem_name},
		mem_about=#{mem_about},
		mem_email=#{mem_email}
	where mem_id=#{mem_id}
	</update>
	
	<!-- 특정 유저의 정보 가져오기 -->
	<select id="getMemberInfo" resultType="goalsns.entity.MemberVO">
		select * from t_member where mem_id=#{mem_id}
	</select>
	<!-- 팔로우 -->
	<insert id="follow" parameterType ="String">
		insert into t_follow(
		follow_seq
		to_mem
		) values(follow_seq.nextval,#{mem_id})
	</insert>
	<update id="followed" parameterType="goalsns.entity.MemberVO">
		update t_follow
		set from_mem()
	</update>
	<select id="getByMemId" parameterType="String" resultType="goalsns.entity.MemberVO">
		select * from t_member where mem_id=#{mem_id}
	</select>
	
	<insert id="cmt" parameterType="goalsns.entity.CmtVO">
		insert into t_cmt (
		cmt_seq,
		mem_id,
		cmt_content 
		) values(cmt_seq.nextval, #{mem_id}, #{cmt_content})
	</insert>
	
	
</mapper>