<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goalsns.model.PostMapper">
	<insert id="postWrite" parameterType="goalsns.entity.PostVO">
		insert into t_post(post_seq, post_content, post_file, mem_id)
		values (t_post_SEQ.nextval, #{post_content}, #{post_file}, #{mem_id})
	</insert>
	<select id="selectPosts" resultType="goalsns.entity.PostVO">
  		select * from t_post where mem_id in(select to_mem from t_follow where from_mem=#{mem_id}) or mem_id=#{mem_id} order by post_date desc
  	</select>
  	<select id="getPostByIdx" parameterType="int" resultType="goalsns.entity.PostVO">
  		select * from t_post where post_seq=#{post_seq}
  	</select>
  	<delete id="postDelete">
  		delete from t_post where post_seq=#{post_seq}
  	</delete>
  	<select id="hashSelect" resultType="goalsns.entity.HashtagVO">
  		select * from t_hashtag where hashtag_name=#{hashtag_name}
  	</select>
 	<insert id="hashInsert" parameterType="goalsns.entity.HashtagVO">
		insert into t_hashtag
		values (t_hashtag_SEQ.nextval, #{hashtag_name})
	</insert>
 	<insert id="postHashInsert" parameterType="goalsns.entity.PostHashVO">
		insert into t_post_hashtag
		values (#{post_seq}, #{hashtag_seq}, t_post_hashtag_SEQ.nextval)
	</insert>
  	<select id="getPostSeq" resultType="int">
  		SELECT LAST_NUMBER FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'T_POST_SEQ'
  	</select>
  	<select id="getHashtagSeq" resultType="int">
  		SELECT LAST_NUMBER FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'T_HASHTAG_SEQ'
  	</select>
  	<select id="getMemberPosts" resultType="goalsns.entity.PostVO">
  		select * from t_post where mem_id in(select to_mem from t_follow where from_mem=#{mem_id}) or mem_id=#{mem_id} order by post_date desc
  	</select>
  	<select id="getTrend" resultType="goalsns.entity.TrendVO">
  		select mc.chell_seq, mc.cnt, c.chell_name
from (select * from (select chell_seq, count(mem_id) as cnt from t_mem_chell group by chell_seq order by count(mem_id)) <![CDATA[where rownum<=6]]>) mc, t_chell c
where c.chell_seq = mc.chell_seq
  	</select>
  	
<!-- 챌린지 해시태그 기능 -->
  	<select id="challSelect" resultType="goalsns.entity.ChellVO">
  		select * from t_chell where chell_name=#{chell_name}
  	</select>
 	<insert id="chellInsert" parameterType="goalsns.entity.ChellVO">
		insert into t_chell
		values (t_hashtag_SEQ.nextval, #{chell_name})
	</insert>
 	<insert id="memChellInsert" parameterType="goalsns.entity.MemChellVO">
		insert into t_mem_chell
		values (#{mem_id}, #{chell_seq}, T_MEM_CHELL_SEQ.nextval)
	</insert>
  	<select id="getChellSeq" resultType="int">
  		SELECT LAST_NUMBER FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'T_CHELL_SEQ'
  	</select>
 	<insert id="postChellInsert" parameterType="goalsns.entity.PostChellVO">
		insert into t_post_chell
		values (#{post_seq}, #{chell_seq}, t_post_chell_SEQ.nextval)
	</insert>
  	<select id="memChallSelect" resultType="goalsns.entity.MemChellVO">
  		select * from t_mem_chell where chell_seq=#{chell_seq} and mem_id=#{mem_id}
  	</select>
  	<update id="postChellUpdate" parameterType="goalsns.entity.PostVO">
  		update t_post set chell_seq=#{chell_seq} where post_seq=#{post_seq}
    </update>
 <!-- 검색 기능 -->
  	<select id="getSeqByChellName" resultType="goalsns.entity.ChellVO">
  		select * from t_chell where chell_name = #{chell_name}
  	</select>
  	<select id="getSeqByHashName"  resultType="goalsns.entity.HashtagVO">
  		select * from t_hashtag where hashtag_name = #{hashtag_name}
  	</select>
  	<select id="searchChellBySeq" resultType="goalsns.entity.PostVO">
  		select * from t_post where post_seq in (select post_seq from t_post_chell where chell_seq = #{chell_seq})
  	</select>
  	<select id="searchHashBySeq" resultType="goalsns.entity.PostVO">
  		select * from t_post where post_seq in (select post_seq from t_post_hashtag where hashtag_seq = #{hashtag_seq})
  	</select>
  	
  	<!-- 댓글 -->
	<insert id="cmt" parameterType="goalsns.entity.CmtVO">
		insert into t_cmt (
		cmt_seq,
		post_seq,
		mem_id,
		cmt_content 
		) values(t_cmt_seq.nextval, #{post_seq}, #{mem_id}, #{cmt_content})
	</insert>
	
	<!-- 좋아요 -->
	<insert id="like" parameterType="goalsns.entity.LikeVO">
		insert into t_like(
		like_seq,
		post_seq,
		mem_id
		) values(t_like_seq.nextval,#{post_seq},#{mem_id})
	</insert>
	
	<!-- 좋아요 삭제 -->
	<delete id = "likeDelete" parameterType="goalsns.entity.LikeVO">
		delete from t_like 
		where post_seq=#{post_seq}
	</delete>
	<!-- 댓글 삭제 -->
	<delete id = "cmtDelete" parameterType="goalsns.entity.CmtVO">
		delete from t_cmt 
		where post_seq=#{post_seq}
	</delete>

	<!-- 챌린지 리워드 -->
	<select id="getChellList" parameterType="goalsns.entity.MemberVO" resultType="goalsns.entity.MemChellVO">
  		select * from t_mem_chell where mem_id = #{mem_id}
  	</select>
	<select id="getReward1" parameterType="goalsns.entity.MemChellVO" resultType="goalsns.entity.PostVO">
  		select * from t_post where chell_seq = #{chell_seq} and mem_id = #{mem_id} order by post_date
  	</select>
 	<select id="getReward2" parameterType="goalsns.entity.MemChellVO" resultType="goalsns.entity.TrackerVO">
 	<![CDATA[
  		select DISTINCT c.today_str as monthly, TO_CHAR(p.post_date) as success, DECODE(TO_CHAR(p.post_date), NULL, 0, 1) AS SYNC_CHECK
		from ( SELECT TO_CHAR (FIRST_DAY + LEVEL - 1) TODAY_STR
		 		FROM (SELECT TRUNC(SYSDATE, 'MM') FIRST_DAY FROM DUAL)
		 		CONNECT BY FIRST_DAY + LEVEL - 1 <= TRUNC(LAST_DAY(SYSDATE))) c
		left join (select * from t_post where chell_seq=#{chell_seq} and mem_id=#{mem_id}) p 
		on TO_CHAR(p.post_date) = c.today_str
		order by c.today_str
	]]>
  	</select>
  	<select id="getChellName" parameterType="goalsns.entity.MemChellVO" resultType="goalsns.entity.ChellVO">
  		select chell_name from t_chell where chell_seq = #{chell_seq}
  	</select>

	
	<!-- 댓글 리스트 -->
	<select id="selectCmt" resultType = "goalsns.entity.CmtVO">
	<![CDATA[
		select * from t_cmt 
		where post_seq =#{post_seq}
		order by cmt_date desc
	]]>
	</select>
</mapper>