@charset "EUC-KR";
/* 글꼴 */
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* flex박스 지정 */
.profile_box{
	width:70%;
	height: 380px;
	margin:auto;
	padding:30px;
	border-bottom: 1px solid #C4C4C4;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.section1{
	display: flex;
	flex-direction: row;
	padding-top: 45px;
}
.section2{
	display: flex;
	flex-direction: row;
	padding-top: 35px;
}

.section3{
	display: flex;
	flex-direction: row;
	overflow:hidden;word-wrap:break-word;
	padding-top: 35px;
}

.item1{
	width:70%;
}

/* 세부적인 profile-box 지정*/
.prof_img{
	padding:40px;
	margin-left:40px;
}


.post_id{
	font-size:45px;
}


.profile_btn{
	font-size:20px;
	height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    background: none;
  	border: solid 1px #C4C4C4;
  	border-radius: 7px;
}
.prof_edit{
	margin: auto 0;
	padding-left: 40px;
}
.prof_reward{
	margin: auto 0;
	padding-left: 35px;
}
.reward{
	color:#F67600;
	border-color:#F67600;
}

.follow1{
	color:white;
	background-color:#52A1FF;
}
.fa-user-plus{
	font-size:15.5px;
}


.prof_text{
	font-size:20px;
	border: 0;
	outline:0;
	background: none;
}

.post{
	padding-right:10px;
}


.img_row{
	width: 55%;
    display: flex;
    flex-direction: row;
    margin: 35px auto
	
}

.imgbox{
	width:300px;
	height:300px;
	display: inline-block;
	overflow: hidden;
	margin-left:35px;
	
	
}
.imgbox > img{ 
	display: block;
	min-width: 100%;
	min-height: 100%; 
	-ms-interpolation-mode: bicubic;
}

.point{
	font-size: 15px;
    margin: auto;
    border-top: 1px solid black;
    width: 150px;
    text-align: center;
    padding-top: 20px;
}

.point_img{
	 width: 19px;
	 height: 18px;
	 margin-bottom:4px;
}

.img-circle{
	border: 1px solid #C4C4C4;
}

/* 챌린지 박스 */
.reward_box{
	display:flex;
	flex-direction: column;
	background-color:white;
	width: 70%;
    height: 380px;
    margin: 50px auto;
    border: 1px solid #EAEAEA;
    justify-content: space-between;
    border-radius:5px;
}
.re_box_title{
	font-size: 25pt;
	font-family: 'NeoDunggeunmo';
	background-color:rgba(239, 154, 99, 0.5);
	border-radius:5px;
	height: 140px;
	padding-top: 15px;
    padding-left: 30px;
}
.re_box_middle{
	height:300px;
	display: flex;
	flex-direction: row;
	justify-content: center; 
}

.re_color{
	font-size: 20pt;
	font-family: 'NeoDunggeunmo';
	padding: 50px;
    padding-top: 80px;
}
.re_percent{
	font-size: 20pt;
	font-family: 'NeoDunggeunmo';
	padding: 50px;
    padding-top: 80px;
}
.re_date{
	font-size: 20pt;
	font-family: 'NeoDunggeunmo';
	padding: 50px;
    padding-top: 80px;
}
.sign{
	font-size: 50pt;
	color:#E8E8E8;
	padding-top: 50px;
}
.fa-trophy{
	font-size:60px;
}
.red{
	color:#FF6770;
}
.yellow{
	color:#FFF069;
}
.green{
	color:#87F16D;
}
.blue{
	color:#6D94F8;
}
.rainbow{
	  background:linear-gradient(to right bottom, #FF6770 15%,  #FFF069, #87F16D, #6D94F8, #CC64DD,#CC64DD);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
}


.re_box_bottom{
	height:300px;
}
.re_box_bottom > div{
	margin:40px;
	border-top: 1px solid #E8E8E8;
}

/* 팔로워 모달창 */
.modal-content{
	height: 450px;
    width: 450px;
}
.modal-box{
	border-bottom: 1px solid #C4C4C4;
	text-align:center;
	padding: 11px;
}
.model_title{
	font-size: 18px;
    font-weight: 540;
}
.mem_id{
  font-size: 13pt;
  color: black;
}
.mem_id:hover{
  color: black;
  text-decoration:none;
}
.follower-box{
	height: 88.3%;
    overflow: auto;
}
.follower_list{
	margin:10px;
}
#peedimg{
	margin-left:10px;
	margin-right:10px;
}
/* 팔로우 모달창(unfollow버튼 빼곤 다 같음) */
.unfollow{
	float: right;
    margin-top: 9.5px;
    background: none;
  	border: solid 1px #C4C4C4;
  	border-radius: 3px;
  	padding: 3px;
}


/* 모달 정중앙 */
.modal {
        text-align: center;
        left:200px;
        bottom: 50px;
}
 
@media screen and (min-width: 768px) { 
        .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
        }
}
 
.modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
}