@charset "EUC-KR";
.img-circle{
	border: px solid #C4C4C4;
}
h2{
    font-size: 15pt;
    color: #A8A8A8;
    margin-bottom: 20px;
}
  #jb-container {
    margin: 0px auto;
    padding-left: 400px;
    padding-right: 476px;
  }
  div #peedbox {
    background-color: white;
    width: 700px;
    margin-bottom: 25px;
    float: left;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
 
  }
  div #sidebar {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    position: fixed;
    top: 80px;
    left: 1127px;
  }
  div #sidebar2 {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    position: fixed;
    top: 576px;
    left: 1127px;
  }

/* peedbox안의 요소들 */
#peedimg{
 margin: 12px;
  
}
.mem_id{
  font-size: 13pt;
  color: black;
  text-align: center;
}
.mem_id:hover{
  color: black;
}
a{
  text-decoration-line: none !important;
}
.fa-ellipsis{
  font-size: 20px;
  color: black;
}
.postfile{
  margin: 0%;
}

.fa-heart{
	font-size: 30px;
	color: black;
  	padding: 10px;
  	margin-left: 6px;
}
.fa-comment{
	font-size: 30px;
	color: black;
  	padding: 10px;
}
.fa-face-smile-wink{
	font-size: 30px;
	color: black;
}

.content_container{
  margin-left: 16px;
  margin-right: 16px;
}
  .post_id{
    font-size: 13pt;
    padding-bottom: 10px;
    margin-left: 16px;
    
  }
  .post_con{
    color: #6F6E6E;
    font-size: 13px; 
  }
  /* 일반해시태그, 챌린지해시태그 색 */
  .hashtag, .hashtag:hover{
  	color: #5277C8;
  }
  .hashtag:active{
  	color: #5277C8;
  	opacity:0.5;
  }
  
  .chall_hashtag, .chall_hashtag:hover{
  	color: #F37321;
  }
 .chall_hashtag:active{
  	color:#F37321;
  	opacity:0.5;
  }
  /* 끝 */
  
  .plus{
    color: #A8A8A8;
  }
  .divplus{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 16px;
  }
  .post_date{
    padding-top: 8px;
    margin-left: 16px;
  }
  #post_date{
    color: #A8A8A8;
    font-size: 10px;
  }

 div .textsection{
    border-top: 1px solid #EAEAEA;
  }
.textsection1{
  padding: 10px;
  margin-left: 6px;
  float: left;
}
.textsection2{
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 3px;
  float: left;
}
#comment_textarea{
  width: 582px;
  resize: none;
  border: none;
}
#comment_textarea:focus{
  outline: none;
}

.textsection3{
  padding-top: 16px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-right: 6px;
  float: right;
}
.text_bt{
	border:none;
    background-color: transparent;
    color: #F67600;
}



/* 인기 챌린지 해시태그 */
  #chellcount1, #chellcount2, #chellcount3, #chellcount4, #chellcount5, #chellcount6{
      color: #6F6E6E;
      font-size: 10pt;
      padding-top: 2px;
      padding-bottom: 20px;
  }
/* 유저랭킹 */
  .userrank1, .userrank2, .userrank3, .userrank4{
      padding-bottom: 20px;
      font-size: 13pt;
  }
  .userrank5 {
    padding-bottom: 16.6px;
    font-size: 13pt;
  }
  
/* ...눌렀을 때, 모달창 구성 */
.mybtn {
    outline: 0;
    box-shadow: none;
    background-color: white;
    border: 0;
    float: right;
    margin: 12px;
    padding-top: 15px;
}  
.modal-box{
	border-bottom: 1px solid #C4C4C4;
	text-align:center;
}
.modal-content{
	height: auto;
	width: 400px;
}
.modal-red{
	color: red;
	font-size: 18px;
	font-weight: 500;
	display:block;
	padding:25px;
}
.modal-red:hover{
	color: red;
}
.modal-blue{
	color: #52A1FF;
	font-size: 18px;
	font-weight: 500;
	display:block;
	padding:25px;
}
.modal-blue:hover{
	color: #52A1FF;
}
.black{
	color: black;
	font-size: 18px;
	font-weight: 500;
	display:block;
	padding:25px;
}
.black:hover{
	color: black;
}

.canbtn{
	color: black;
	font-size: 18px;
	font-weight: 500;
	padding:25px;
	outline: 0;
    box-shadow: none;
    background-color: white;
    border: 0;
    width:390;
}
.modal_cancel{
	text-align:center;
}

/* 모달 정중앙 */
.modal {
        text-align: center;
        left:200px;
        bottom: 50px;
}
 
@media screen and (min-width: 768px) { 
        .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
        }
}
 
.modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
}
  
/* cute 모달창 */
/* 부트스트랩 모달창 */

.cutes {
    outline: 0;
    box-shadow: none;
    background-color: white;
    border: 0;
    padding:0;
}

/* .modal-box{
	border-bottom: 1px solid #C4C4C4;
	text-align:center;
}
.modal-content{
	height: auto;
	width: 400px;
} */

  
  