@charset "EUC-KR";
.container_1{
      /*margin:0;*/
    background-color:white;
    /* justify-content: center;*/
    align-items: stretch;
    
    display:flex; 
    flex-direction: row; 
    width: 70%;
    height:700px;
    margin-left: 200px;
    
   
}
.item1{	
    position: absolute;
    width: 193px;
    left: 199px;
    height: 700px;
    text-align: center;
    background-color: white;
    border-right:solid whitesmoke 1px;
   
     
}

.item2{
	flex-basis: content;
	position: absolute;
    top: 186px;
    padding-left: 520px;
    float: left;
	

}
.profilEidt_1{
	flex-basis: content;
	position: absolute;
    top: 85px;
    left:32px;
    border-right:solid whitesmoke 1px;
    width: 160px;
    height: 100px;	
   
    
}
.delete{
	flex-basis: content;
	position: absolute;
    top: 135px;
    left: 32px;
    border-right:solid black 1px;
    width: 160px;
    height: 20px;	
}
a{
	color: gray;
	font-size: 15px;
	line-height: 22px;
}
.btn_1{
	padding-left: 175px;
		
}
.btn-info:hover {
    color: #fff;
    background-color: #FF0000;
    border-color: #FF0000;
}
h3{
	padding-left: 160px;
}
.btn btn-info btn-sm{
	background-color: #FF0000;
	border-color: #FF0000;
	 
}
p{
	color: A8A8A8;
	font-size: 11px;
}
.form-control{
	background: white;
    width: 350px;
}
.form-group{
	    margin-bottom: 40px;
}
.pabox{
	padding-bottom: 10px;
	width: 800px;
}
/* 여기 아래처럼 사용자 이름에 div 줘서 float:left 속성을 주면 될것같아요!
input 창 길이는 input에 width를 통해 바꿨구여, 
사용자 이름 살짝 아래로 내릴려고 padding-top: 10px 줬어여~~*/
.test{
	float:left;
	padding-top: 10px;
}