@charset "EUC-KR";
.container_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1081px;
    height: 748px;
    background-color: gainsboro;
    margin-left: 477px;
    border-radius: 30px;
    margin-top: 35px;
    background: #33333324;
}
.item_1{
	
    width: 1078px;
    height: 76px;
    border-radius: 30px 30px 0px 0px;
    margin-top: -1px;
    background: #FFFFFF;
    /* border: solid gray 1px; */
    margin-left: 3px;
}	
.item_2{
	
}	
.item_3{
    background: #FFFFFF;
    width: 405px;
    height: 671px;
    float: right;
    margin-top: -88px;
    border-radius: 0px 0px 30px 0px;
    /* border-right: solid gray 1px; */
    /* border-left: solid gray 1px; */
    margin-left: 18px;
   
   
    
}	
.postPic_1{
    width: 672px;
    height: 678px;
    border-radius: 0px 0px 0px 30px;
        margin-top: 1px;
    margin-left: 3px;

}
.postPic_2{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 70%;
    float: left;
    margin-right: 14px;
    margin-top: 20px;
    margin-left: 28px;
}
.spark_1{
    width: 404px;
    height: 333px;
    border: none;
    margin-left: 2px;
    margin-top: 11px;
}
.spark_2{
    width: 404px;
    height: 263px;
    border-radius: 0px 0px 30px 0px;
    border-top:solid gray 1px;
    margin-left: 2px;
  
}
h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    margin-top: 47px;
    float: left;
}


.modal_wrap{
    display: none;
    width: 500px;
    height: 500px;
    position: absolute;
    top:38%;
    left: 11%;
    margin: -250px 0 0 -250px;
       
    z-index: 2;
}
.black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
 }
.modal_close{
        width: 26px;
        height: 26px;
        position: absolute;
        top: -30px;
        right: 0;
 }
.modal_close> a{
    display: block;
        width: 100%;
        height: 100%;
        background:url(https://img.icons8.com/metro/26/000000/close-window.png);
        text-indent: -9999px;
    }
 .modal_sumbit> a{
     display: block;
     width: 57px;
    height: 56px;
    background: url(https://img.icons8.com/windows/2x/level-up.png);
    background: url(https://img.icons8.com/windows/2x/level-up.png);
    text-indent: -9999px;
    margin-top: -675pxpx;
    position: absolute;
    margin-left:969px;
 }

.form-group_1{
    float: left;
    margin-left: -5px;
    
    
}
.form-group_2{

    float: left;
    margin-left: -5px;
    margin-top: -7px;
 
  
    
}
.input_1{
	float: none;
    margin-top: -614px;
    /* margin-right: 41px; */
    margin-left: 301px;
}
.form-group_0{
	margin-left: -1px;
}




