@charset "EUC-KR";
.container_1{
    display: flex;
    flex-direction: column;
    width: 1088px;
    height: 754px;
    background-color: white;
    margin-left: 400px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    border-radius: 17px;
}
}
.item_1{
	
    width: 1081px;
    height: 76px;
    border-radius: 30px 30px 0px 0px;
    margin-top: -2px;
    background: #FFFFFF;
    margin-left: 2px;
    border-bottom: 1px solid #E8E8E8;

}	
.item_2{
	
}	
.item_3{
    background: #FFFFFF;
    width: 405px;
    height: 667px;
    float: right;
    margin-top: -653px;
    border-radius: 0px 0px 30px 0px;
    margin-left: 0px;
    margin-right: 3px;
}	
.postPic_1{
    width: 672px;
    height: 618px;
    /* border-radius: 0px 0px 0px 30px; */
    margin-top: 0px;
    margin-left: 1px;
}
.postPic_2{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 70%;
    float: left;
    margin-right: 14px;
    margin-top: 20px;
    margin-left: 28px;
}
.spark_1{
    width: 404px;
    height: 333px;
    border: none;
    margin-left: 2px;
    margin-top: 11px;
    outline: none;
}
h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    margin-top: 47px;
    float: left;
}

.form-group_1{
    float: left;
    margin-left: -5px;
    
    
}
.form-group_2{

    float: left;
    margin-left: -5px;
    margin-top: -7px;
    border-top: 1px solid #E8E8E8;
  
    
}
.input_1{
    float: none;
    margin-top: 10px;
    /* margin-right: 41px; */
    margin-left: 301px;
}
.form-group_0{
	margin-left: -1px;
}
.normal{
	color:blue;
}
.special{
	color: #DF5C12;
}
.muener_1{
	margin: 2px 7px 10px;
    padding: 1px 5px 4px;
    color: rgba(168, 168, 168, 0.8);
    
}
.postWritpic{
	 float: right;
     margin-top: 21px;
     margin-right: 28px;
}

.fa-arrow-up-from-bracket {
    font-size: 27px;
}

/* 올리기버튼 활성화! */
.hide_yes{
	margin-right: 22px;
    margin-top: 15px;
    margin-left: 1030px;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    position: absolute;
}

.modal_sumbit > div{
	text-align: right;
    padding-right: 20px;
    padding-top: 20px;
}
