@charset "EUC-KR";
.container_1{
      /*margin:0;*/
    background-color:white;
    /* justify-content: center;*/
    align-items: stretch;
    
    display:flex; 
    flex-direction: row; 
    width: 70%;
    height:820px;
    margin-left: 400px;
    border:solid #EAEAEA 1px;
    border-radius: 5px; 
   
}
.item1{	
    position: absolute;
    width: 193px;
    left: 210px;
    height: 820px;
    text-align: center;
    background-color: white;
    border-right:solid #E5E5E5 1px;
    border-top:solid 1px #EAEAEA;   
    border-left:solid 1px #EAEAEA;   
    border-bottom:solid 1px #EAEAEA;
    border-radius: 5px; 
    
}
.item2{
	flex-basis: content;
	position: absolute;
    top: 120px;
    padding-left: 400px;
    float: left;
    text-align:left;
}
.profilEidt_1{
	flex-basis: content;
	position: absolute;
    top: 85px;
    left:19px;
    border-right:solid black 1px;
    width: 174px;
    height: 20px;	       
}
.delete{
	flex-basis: content;
	position: absolute;
    top: 135px;
    left: 19px;
    /*border-right:solid whitesmoke 1px;*/
    width: 174px;
    height: 20px;	
} 
.a_1{
	color: black;
	font-size: 15px;
	line-height: 22px;
}
.a_2{
	color: gray;
	font-size: 15px;
	line-height: 22px;
}
.profilePic{
	width: 70px;
    height: 70px;    
    overflow: hidden;	
}

.profilePic_1{		
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 70%;
    float: right;
    margin-right: 16px;
    margin-top: 55px;

}
h3{
	float: right;
    padding-right: 360px;
    margin-top: 70px;
}
span{
	
}
.btn_1{
    padding-left: 290px;	
}	
.form_impormation{
	background: white;
    width: 490px;
    float: right;
    margin-bottom: 10px;
    border-radius: 3px;
    border:solid 1px #E8E8E8;
    height: 40px;
}
.selfarea{
	background: white;
    width: 490px;
    float: right;
    margin-bottom: 10px;
    border-radius: 3px;
    border:solid 1px #E8E8E8;
    height: 60px;
}

.edit_form{
	margin-bottom: 40px;
	font-size: 13px;
    line-height: 19px;
    margin-bottom: 15px;
    padding-bottom: 21px;
}
p{
	font-size: 11px;
    line-height: 19px;
    color:  #A8A8A8;
    padding-left: 110px;
  
}
strong{
    font-size: 13px;
    line-height: 19px;
    color: #A8A8A8;
    padding-left: 110px;
}
.pabox{
	padding-bottom: 10px;
	
}
.edit_id{
	float:left;
	padding-top: 10px;
	padding-right: 25px;
	
}
label{
	text-align:right;
	display: inline-block;
    max-width: 100%;
    margin-bottom: 16px;
    font-weight: 700;
}	
.space{
	float:right;
	width: 80px;
	
}
.picture{
	margin-left: 110px;
}
.profilePic_1{
	border: 1px solid #C4C4C4;
}