@charset "EUC-KR";
body{
	background-color:#FAFAFA;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 732px;
    background-color: #FAFAFA;
    margin-left: 715px;
    margin-top: 85px;
}
.item{
	width: 430px;
    height: 555px;
    background-color:#FDFDFD;
     margin-left: 37px;
     
    background: #FDFDFD;
    border: 1px solid #CEC8C8;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item_1{
    margin-top: 0px;
    margin-left: 3px;
    width: 422px;
    height: 351px;
    background-color: white;
    float: left;
}
.item_2{
    margin-top: 28px;
    background-color: #FDFDFD;
    width: 430px;
    margin-left: 37px;
    height: 70px;
    text-align: center;
    
    background: #FDFDFD;
    border: 1px solid #CEC8C8;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
img {
    vertical-align: middle;
    width: 244px;
    margin-left: 63px;
    margin-top: 11px;
}
h5{
   margin-top: 6px;   
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   text-align: center;
   color: #000000;
}
strong{
	font-weight: 400;
    font-size: 19.3763px;
    line-height: 32px;
    
}
a{
	font-weight: 400;
    font-size: 19.3763px;
    line-height: 32px;
}
.item_text{
	margin-top: 20px;
    width: 468px;
    height: 22px;
    float: left;
    margin-left: -18px;
}
.boxs_1{
	width: 352px;
    height: 42px;
    background: #FDFDFD;
    border: 1px solid #CEC8C8;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 43px;
}
.btn-primary {
    color: #fff;
    background-color: #F08E1B;
    border-color: #F08E1B;
}
.btn-primary:hover {
    color: #fff;
    background-color: #FF5500;
    border-color: #FF5500;
}
.btn_0{
	margin-left: 38px;
	margin-top: 8px;
}
.btn_1{
	margin-left: 38px;
	margin-top: 7px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    margin-left: 4px;
    width: 352px;
   
}
.btn btn-primary btn-sm {
	background: rgba(93, 95, 239, 0.44);
    border-radius: 4px;
}